// **********************************
// 1-body.scss
// **********************************

body{
    width: $desk-size;
    height: 100vh;

    margin: auto;

    background-color: antiquewhite;

}