// **********************************
// 1-body.scss
// **********************************

body{
    width: $desk-size;
    height: 100%;

    margin: auto;

    background-color: antiquewhite;

    @include respond-to("tablet"){
        width: auto;
    }

    #wrapper{
        width: auto;
        height: 100vh;
        background-color: $sec-color;

    }

}