// **********************************
// 0-general.scss
// **********************************

// **********************************
// Variables
// Colors

$pri-color: #7797c6;
$sec-color: #c3cef1;
$tri-color: #d5d5b3;

$border-color: #959075;

$card-color: #d9d9bd;
$card-color-hoover: #a7b5b9;

$pri-font-color: #293351;
$sec-font-color: #3e549a;
$tri-font-color: #343437;

// Sizes

$desk-size: 1200px;
$tab-size: 900px;
$mobile-size: 500px;

$h1-font-size: 5rem;
$h2-font-size: 4rem;
$h3-font-size: 1.5rem;

// Fonst

$font-rubik: Rubik, 'Gill Italic', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;



