// **********************************
// 0-general.scss
// **********************************

// **********************************
// Variables
// Colors

$pri-color: #677ab7;
$sec-color: #F1E6CD;
$border-color: #CDB171;
$card-color: #d7c49a;

$pri-font-color: #536292;
$sec-font-color: #2f3547;

// Sizes

$desk-size: 1200px;
$tab-size: 900px;
$mobile-size: 500px;

$h1-font-size: 5rem;
$h2-font-size: 4rem;
$h3-font-size: 1.5rem;



