

header{
    width: $desk-size;
    height: 150px;

    border-bottom: 2px solid $border-color;

    display: flex;
    flex-direction: column;
    justify-content: end;

    position:fixed;
    top: 0px;
    z-index: 2;

    background-color: $pri-color;

    h1{
        padding: 0;
        padding-left: 10px;
        margin: 0;
        font-size: $h1-font-size;
        font-family: $font-rubik;
        color: $pri-font-color;

        span{
            font-style: italic;
            color:$sec-font-color;
        }
    }
    nav{
        border-top: 2px solid $border-color;
        padding:0;
        margin: 0;

        background-color: $tri-color;

        ul{
            width: 300px;
            padding: 0;
            margin: 0;
            margin-left: 10px;
            list-style: none;
            display: flex;
            justify-content: space-between;
            li{

                a{
                    text-decoration: none;
                    font-size: $h3-font-size;
                    font-family: $font-rubik;

                    color: $pri-font-color
                }
            }
        }
    }

}