

header{
    width: $desk-size;
    height: auto;

    border-bottom: 2px solid $border-color;

    display: flex;
    flex-direction: column;
    justify-content: end;

    // position:fixed;
    // top: 0px;
    // z-index: 2;

    background-color: $pri-color;

    h1{
        padding: 0;
        padding-left: 10px;
        margin: 0;
        font-size: $h1-font-size;
        font-family: $font-rubik;
        color: $pri-font-color;

        @include respond-to(tablet){
            font-size: 3.5rem;
        }

        span{
            font-style: italic;
            color:$sec-font-color;
        }
    }
    nav{
        border-top: 2px solid $border-color;
        padding:0;
        margin: 0;

        background-color: $tri-color;

        ul{
            width: 100%;
            padding: 0;
            margin: 0;
            margin-left: 10px;
            list-style: none;
            display: flex;
            li{
                margin-right: 20px;
                @include respond-to(tablet){
                    margin-right: 0;
                }
                a{
                    text-decoration: none;
                    font-size: $h3-font-size;
                    font-family: $font-rubik;

                    color: $pri-font-color
                }
            }
        }
    }
}
@include respond-to('mobile'){
    header{
        h1{
            font-size: 2.5rem;
        }
        nav{

            ul{
                width: 100vw;
                padding: 0;
                margin: 0;
                flex-direction: column;
    
                li{
                    border: 2px solid $border-color;

                    display: flex;
                    justify-content: center;
    
                    a{
                        font-size: 2rem;
                    }
                }
            }
        }
    }
}