

main{
    width: auto;
    height: auto;
    padding: 10px;

    background-color: $sec-color;
    h2{
        font-size: $h2-font-size;
        font-family: 'Gill Italic', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

        color: $pri-font-color;

        @include respond-to(mobile){
            padding: 0;
            margin: 0;
        }
    }
    p{
        font-family: $font-rubik;
        font-size: 2rem;
    }
    form{
        width: 50%;
        display:flex;
        flex-direction: column;

        @include respond-to(tablet){
            width: auto;
        }

        input{
            width: auto;

            font-family: $font-rubik;
            font-size: 1.5rem;
        }
    }
    #main-container{
        margin: auto;
        padding: 10px;
        
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 10px;

        @include respond-to('tablet'){
            grid-template-columns: 1fr;
        }
        

        #home-card{
            display: flex;

            @include respond-to('tablet'){
                width: auto;
            }

            h2, h3{
                padding:0;
                margin: 0;

                font-family: $font-rubik;
                color: $pri-font-color;
            }
            p {
                padding:0;
                margin: 0;

                font-family: $font-rubik;
                font-size: 1.1rem;

                color: $sec-font-color;
            }

            a {
                height: auto;
                width: 100%;
                margin: auto;
                border: 2px solid $border-color;
                border-radius: 25px;
                display: grid;
                grid-template-columns: 90px 50% auto;
                gap: 10px;
                text-decoration: none;
                color: $pri-font-color;
                background-color: $card-color;
                @include respond-to('tablet'){
                    height: auto;
                    grid-template-columns: 90px 50% auto;
                }
                img{
                    width: 90px;
                    height: 90px;
                }
                #left-card{
                    width: 80%;
                }
                #right-card{
                    padding: 0;
                    margin: 0;
                    padding-top: 55px;
                    display: flex;
                    flex-direction: column;
                    p{
                        padding: 0;
                        margin: 0;
                    }
                }
                @include respond-to('mobile'){
                    #left-card {
                        width: auto;
                    }
                    #right-card {
                        display: none;
                    }
                }
            }
            a:hover{
                background-color: $card-color-hoover;
            }
        }
    }
}