

main {
    width: 1200px;
    height: 100vh;

    margin: auto;
    padding: 10px;

    background-color: rgb(230, 208, 179); }

    h2 {
        padding: 0;
        margin: 0;
        margin-right: 20px;
        font-size: 3rem; }

    p {
        font-size: 1.5rem; }

    form{
        width: 50%; }

        input {
            border: 2px solid rgb(214, 154, 42);
            font-size: 1.4rem;

            background-color: blanchedalmond;
        }

        .form-btns {
            display: flex;
        }
        .form-btns > input {
            cursor:pointer;
            background-color: rgb(207, 146, 15);
        }
        .form-btns > input:hover{
            background-color: bisque;
        }
