

#main-container{
    padding: 20px;}

    a {
        margin: 10px;
    }

    #home-card {
        padding: 10px;
        border-radius: 20px;

        text-decoration: none;
        background-color: blanchedalmond;
        color: black; }
    #home-card:hover{
        background-color: coral;
    }
    #home-card > img {
        width: 90px;
        height: 90px;
    }
